<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springmybatis.mapper.FilmMapper">
	
	<!-- 技术实现往 film表中插入一条数据 表中插入一条数据 表中插入一条数据 -->
	<insert id="insertIntoFilm" parameterType="film">
		INSERT into `film`(title,description,language_id)
		VALUE(#{title},#{description},#{language_id})
	</insert>
	
</mapper>